.ant-menu-item .ant-menu-item-selected .ant-menu-item-only-child {
	background-color: aqua;
}

.menu_list {
	width: 4000px;
	height: 100%;
	display: flex;
}

.menu_list:hover {
	background-color: aqua;
}