.react-calendar {
	height: 400px !important;
	width: 390px !important;
	border: none !important;
	border-radius: 10px !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.react-calendar__month-view__weekdays__weekday {
	width: 60px !important;
	height: 40px !important;
	font-size: 17px !important;
	text-decoration: none !important;
}

.react-calendar__month-view__weekdays__weekday abbr[data-original-title], abbr[title] {
	text-decoration: none !important;
	color: #FF9138 !important;
	font-weight: 700 !important;
}

.react-calendar button:enabled:hover {
	border-radius: 10px !important;
}

.react-calendar__month-view__days >
button {
	/* color: #535261 !important; */
	font-weight: 600 !important;
	font-size: 17px !important;
	width: 40px !important;
	height: 50px !important;
}

.react-calendar__tile--active {
	border-radius: 10px !important;
	background: #FF7506 !important;
}

.react-calendar__navigation > button {
	font-weight: 800;
	font-size: 18px !important;
	color: #FF7506 !important;
}

/* .react-calendar__tile {
	font-weight: 800;
	font-size: 16px !important;
	color: #535261;
} */

.react-calendar__tile--hasActive {
	background: #FF7506 !important;
	border-radius: 10px !important;
}

.react-calendar__viewContainer {
	border: 1px solid #DCDDFD;
}
